#visual studio
proj.win32/ChickenCrossing.sdf
proj.win32/ChickenCrossing.v11.suo
proj.win32/Debug.win32/

#eclipse
proj.android/bin/
proj.android/gen/
proj.android/libs/
proj.android/obj/
proj.android/.settings/
proj.android/assets/
proj.android/local.properties

#xcode
proj.ios_mac/ChickenCrossing.xcodeproj/xcuserdata/elmariachi.xcuserdatad/xcdebugger/*