<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Level</key>
	  <string>3</string>
	  <key>Background</key>
	  <string>background3.png</string>
	  <key>Lanes</key>
    <array>
      <dict>
        <key>Type</key>
        <string>INVALID</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>REST</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>ROAD</string>
        <key>Interval</key>
        <real>10000</real>
        <key>Speed</key>
        <integer>100</integer>
        <key>Vehicles</key>
        <array>
          <string>Car</string>
          <string>Truck</string>
          <string>Bus</string>
        </array>
      </dict>
      <dict>
        <key>Type</key>
        <string>ROAD</string>
        <key>Interval</key>
        <real>10000</real>
        <key>Speed</key>
        <integer>100</integer>
        <key>Vehicles</key>
        <array>
          <string>Car</string>
          <string>Truck</string>
          <string>Bus</string>
        </array>
      </dict>
      <dict>
        <key>Type</key>
        <string>REST</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>WATER</string>
        <key>Interval</key>
        <real>0</real>
        <key>Speed</key>
        <integer>0</integer>
        <key>Vehicles</key>
        <array>
          <string>Log</string>
        </array>
      </dict>
      <dict>
        <key>Type</key>
        <string>WATER</string>
        <key>Interval</key>
        <real>0</real>
        <key>Speed</key>
        <integer>0</integer>
        <key>Vehicles</key>
        <array>
          <string>Log</string>
        </array>
      </dict>
      <dict>
        <key>Type</key>
        <string>WATER</string>
        <key>Interval</key>
        <real>0</real>
        <key>Speed</key>
        <integer>0</integer>
        <key>Vehicles</key>
        <array>
          <string>Log</string>
        </array>
      </dict>
      <dict>
        <key>Type</key>
        <string>WATER</string>
        <key>Interval</key>
        <real>0</real>
        <key>Speed</key>
        <integer>0</integer>
        <key>Vehicles</key>
        <array>
          <string>Log</string>
        </array>
      </dict>
      <dict>
        <key>Type</key>
        <string>WATER</string>
        <key>Interval</key>
        <real>0</real>
        <key>Speed</key>
        <integer>0</integer>
        <key>Vehicles</key>
        <array>
          <string>Log</string>
        </array>
      </dict>
      <dict>
        <key>Type</key>
        <string>REST</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>ROAD</string>
        <key>Interval</key>
        <real>10000</real>
        <key>Speed</key>
        <integer>100</integer>
        <key>Vehicles</key>
        <array>
          <string>Car</string>
          <string>Truck</string>
          <string>Bus</string>
        </array>
      </dict>
      <dict>
        <key>Type</key>
        <string>ROAD</string>
        <key>Interval</key>
        <real>10000</real>
        <key>Speed</key>
        <integer>100</integer>
        <key>Vehicles</key>
        <array>
          <string>Car</string>
          <string>Truck</string>
          <string>Bus</string>
        </array>
      </dict>
      <dict>
        <key>Type</key>
        <string>REST</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>INVALID</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>INVALID</string>
      </dict>
    </array>
  </dict>
</plist>