<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Level</key>
    <string>10</string>
    <key>Background</key>
    <string>background10.png</string>
    <key>MainMode</key>
    <dict>
      <key>MaxRoadInterval</key>
      <string>4000</string>
      <key>MinRoadInterval</key>
      <string>3000</string>
      <key>MaxWaterInterval</key>
      <string>6000</string>
      <key>MinWaterInterval</key>
      <string>4000</string>
      <key>MinStartDuration</key>
      <string>5.0</string>
      <key>MaxStartDuration</key>
      <string>10.0</string>
    </dict>
    <key>Lanes</key>
    <array>
      <dict>
        <key>Type</key>
        <string>INVALID</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>REST</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>WATER</string>
        <key>Vehicles</key>
        <array>
          <string>Log</string>
          <string>Log</string>
          <string>Log</string>
          <string>DisappearingLog</string>
        </array>
      </dict>
      <dict>
        <key>Type</key>
        <string>WATER</string>
        <key>Vehicles</key>
        <array>
          <string>Log</string>
          <string>Log</string>
          <string>Log</string>
          <string>DisappearingLog</string>
        </array>
      </dict>
      <dict>
        <key>Type</key>
        <string>ROAD</string>
        <key>Vehicles</key>
        <array>
          <string>Car</string>
          <string>Truck</string>
          <string>Bus</string>
        </array>
      </dict>
      <dict>
        <key>Type</key>
        <string>ROAD</string>
        <key>Vehicles</key>
        <array>
          <string>Car</string>
          <string>Truck</string>
          <string>Bus</string>
        </array>
      </dict>
      <dict>
        <key>Type</key>
        <string>WATER</string>
        <key>Vehicles</key>
        <array>
          <string>Log</string>
          <string>Log</string>
          <string>Log</string>
          <string>DisappearingLog</string>
        </array>
      </dict>
      <dict>
        <key>Type</key>
        <string>WATER</string>
        <key>Vehicles</key>
        <array>
          <string>Log</string>
          <string>Log</string>
          <string>Log</string>
          <string>DisappearingLog</string>
        </array>
      </dict>
      <dict>
        <key>Type</key>
        <string>WATER</string>
        <key>Vehicles</key>
        <array>
          <string>Log</string>
          <string>Log</string>
          <string>Log</string>
          <string>DisappearingLog</string>
        </array>
      </dict>
      <dict>
        <key>Type</key>
        <string>ROAD</string>
        <key>Vehicles</key>
        <array>
          <string>Car</string>
          <string>Truck</string>
          <string>Bus</string>
        </array>
      </dict>
      <dict>
        <key>Type</key>
        <string>ROAD</string>
        <key>Vehicles</key>
        <array>
          <string>Car</string>
          <string>Truck</string>
          <string>Bus</string>
        </array>
      </dict>
      <dict>
        <key>Type</key>
        <string>WATER</string>
        <key>Vehicles</key>
        <array>
          <string>Log</string>
          <string>Log</string>
          <string>Log</string>
          <string>DisappearingLog</string>
        </array>
      </dict>
      <dict>
        <key>Type</key>
        <string>WATER</string>
        <key>Vehicles</key>
        <array>
          <string>Log</string>
          <string>Log</string>
          <string>Log</string>
          <string>DisappearingLog</string>
        </array>
      </dict>
      <dict>
        <key>Type</key>
        <string>REST</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>INVALID</string>
      </dict>
      <dict>
        <key>Type</key>
        <string>INVALID</string>
      </dict>
    </array>
  </dict>
</plist>